Repository GlobexDesignsInc/gxdrecords.com: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier-package-json, typescript

biome:
  run: pnpm biome check --write --unsafe {staged_files}
  stage_fixed: true

prettier-package-json:
  run: pnpm prettier-package-json --use-tabs --write {staged_files}
  stage_fixed: true

typescript:
  run: pnpm tsc --project ./tsconfig.json --noEmit

pnpm and node upgrade on GitHub Actions
  .github/workflows/workflow.yml
Due: none

Biome rule updates
  biome.json
Due: none

Upgrade to Biome 2
  biome.json
  lefthook.yml
  pnpm-workspace.yaml
  tsconfig.json
Due: none

chore: Migrate to bun
  .github/workflows/ping.yml
  .github/workflows/test.yml
  .github/workflows/workflow.yml
  README.md
  app/layout.module.css
  app/page.module.css
  bun.lock
  bunfig.toml
  components/Releases/Releases.module.css
  lefthook.yml
  next.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier-package-json

chore: Migrate to tsgo
  bun.lock
  package.json
Due: prettier-package-json

chore: Switch ping to www
  .github/workflows/ping.yml
Due: none

Biome config update
  biome.json
Due: none

Remove CI ping
  .github/workflows/ping.yml
Due: none

chore(deps): Update dependencies
  .github/renovate.json
  .github/renovate.json5
  biome.json
  bun.lock
  next-env.d.ts
  package.json
  tsconfig.json
Due: biome, prettier-package-json, typescript

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx}
  prettier-package-json: any of: package.json
  typescript: any of: *.{ts,tsx}
